---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar';
import Dashboard from '../components/Dashboard'

---

<Layout title="Dashboard">
    <header>
        <Sidebar client:load></Sidebar>
    </header>
    <main>
        <Dashboard client:load/>
    </main>
</Layout>
